header {
    background-color: rgb(0, 106, 255);

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.text1 {
    color: white;
    font-size: 30px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: underline;
    font-size: 15px;
}

nav a:hover {
    text-decoration: underline;
}

img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    border: 3px solid black;
}
.p1{
    text-align: center;
    font-size: 18px;
    width: 1000px;
}